{% import "../../macros/section-heading-macro.html" %}
{% set padding = module.style.section_padding %}
{% set bg_color = module.style.background_color != "none" ? "bg-" ~ module.style.background_color : "" %}
<section class="section columns-with-number-block {{ bg_color }} {{ padding|join(" ") }} {{ module.style.padding_type }}">
  <div class="container">
    {% if module.title or module.description %}
      {{ section_heading(module.title, module.description) }}
    {% endif %}
    {% if module.columns|length > 0 %}
      <div class="row">
        {% for item in module.columns %}
          {% set col_class = "" %}
          {% if module.choose_columns == "three" %}
            {% set col_class = " col-md-4" %}
          {% endif %}
          {% if module.choose_columns == "four" %}
            {% set col_class = " col-md-3" %}
          {% endif %}
          <div class="col-content-number{{ col_class }}">
            <div class="col-wrap">
              {% if item.number %}
                <div class="number">
                  0{{ item.number }}
                </div>
              {% endif %}
              {% if item.title or item.description %}
                <div class="content">
                  {% if item.title %}
                    <h3 class="h5 content__title">{{ item.title }}</h3>
                  {% endif %}
                  {% if item.description %}
                    <div class="content__desc">
                      {% inline_rich_text field="description" value="{{ item.description }}" no_wrapper=true %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>