.site-footer .footer-bottom [role="menu"] {    
  color: rgba(10, 1, 59, .8);
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .footer-bottom [role="menu"] li+li {
  margin-top: .9375rem;
}
.site-footer .footer-bottom [role="menu"] li a {
  color: rgba(10, 1, 59, .8);
}

@media (min-width: 768px) {
  .site-footer .footer-bottom [role="menu"] {
    display: flex;
  }
  .site-footer .footer-bottom [role="menu"] li+li {
    margin: 0 0 0 1.25rem;
  }
}

@media (min-width: 992px) {
  .site-footer .footer-bottom [role="menu"] li a:hover{
    text-decoration: underline;
  }
}

